/* .🔹 VARIABLES GLOBALES. */
:root {
  --bg-dark: #090039;
  --neon-pink: #f207fe;
  --neon-cyan: #00ffcc;
  --neon-blue: #5e69fe;
  --text-purple: #551a8b;
  --font-main: "Orbitron", system-ui, sans-serif;
}

/*🔹 RESET & BASE */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-main);
  background: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

img,
video,
iframe,
embed,
object {
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
  background: var(--bg-dark);
  border-bottom: 2px solid var(--neon-pink);
  box-shadow: 0 0 10px var(--neon-pink);
  position: relative;
  z-index: 100;
}

header h1 {
  margin: 0;
  display: flex;
  align-items: center;
}

header h1 img {
  height: 50px;
  margin-left: 15px;
  transform: scaleX(1.5);
  transition: transform .3s ease;
}

header h1 img:hover {
  transform: scaleX(1.45) rotate(-2deg);
}

#titulo,
#titulo2,
#titulo3,
.titulo-juego {
  text-align: center;
  font-weight: 900;
  letter-spacing: 6px;
  color: var(--neon-pink);
  text-shadow: 0 0 10px var(--neon-cyan);
}

#titulo {
  font-size: 2rem;
  margin: 40px 0 6px;
}

#titulo2 {
  font-size: 1.6rem;
}

#titulo3 {
  font-size: 1.3rem;
}

@media (max-width: 900px) {

  .games-section {
    grid-template-columns: 1fr;
  }

  .card-juego iframe {
    height: 350px;
  }

  #menu-principal {
    flex-direction: column;
  }

}